{% extends "base.html" %}
{% block title %}
Logout
{% endblock %}
{% block content %}
<div>
    <style>
        body {
            background-image: url('https://cdn.pixabay.com/photo/2016/11/29/13/10/man-1869744_960_720.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</div>
<h2>You have been logged out</h2>
<div class="border-top pt-3">
    <small class="text-muted">
        <a href="{% url 'login' %}">Log In Again</a>
    </small>
</div>
{% endblock content %}